body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
    margin-left: 30px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 160px;
    text-align: left;
}
input {
    display: inline-block;
    float: left;
    text-align: right;
}

select{
    display: inline-block;
    float: left;
    text-align: right;
}
